src/main/resources/META-INF0/spring-pv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:tns="http://www.dens.com/schema/spring-ext/pv"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.dens.com/schema/spring-ext/pv"
	attributeFormDefault="unqualified" elementFormDefault="qualified">
	
	<xsd:element name="ref">
		<xsd:complexType>
			<xsd:attribute name="bean" type="xsd:string" />
			<xsd:attribute name="class" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>